<!DOCTYPE html>

<html>
<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
		</script>
		<script src="{{ url_for('static', filename='dist/js/bootstrap.js') }}"></script>
     <script src="https://fast.eager.io/ZWYWCiVXq4.js"></script>

    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css"/>
		<link href="{{ url_for('static', filename='dist/css/bootstrap.css') }}" rel="stylesheet"/>
        <link rel="shortcut icon" type="image/png" href="http://i.imgur.com/txhtRuV.png" title="source: imgur.com" /></a>

    <title>Electy</title>
	</head>
	
	<body>
		<nav id="wholebar" class= "nav navbar navbar-default navbar-fixed-top navbar-absolute">
			<div class="container">

				<a href="/" class="navbar-header"><img id="logo" class="img-responsive" src="{{ url_for('static', filename='Logo_electy.png') }}"/></a>
				<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
				</div>
			</div>

		<!-- !Header-->
      <div id="page_header" class="nav navbar-nav navbar-right">
        <div id="contact-form">
            <form action="/sign_up" method="post">
              <label for="email">Let us mail you your results! Sign up here: </label> 
              <input type="email" id="email" value="" name="email" required="required" placeholder="Email Address"/>
             <input type="submit" value="Submit" id="submit-button"/>
            </form>
        </div>
      </div><!-- /header -->   
      <div class="nav navbar-nav navbar-right">
        </div>
      </div>
    </nav>


<div class="row">
    <div class="col-xs-12">
      <h1 id="charttitle">Proportion of political conversation in the last week about <em>{{ issue }}</em> by party</h1>
      <img src="https://chart.googleapis.com/chart?cht=p&amp;chd=t:{{ labour_proportion }},{{ conservative_proportion }},{{ libdem_proportion }},{{ UKIP_proportion }}&amp;chl={{ labour_proportion }}%|{{ conservative_proportion }}%|{{ libdem_proportion }}%|{{ UKIP_proportion }}%&amp;chdls=000000,20&amp;chs=900x300&amp;chdl=Labour|Conservative|Lib Dem|UKIP&amp;chco=d50000,0087dc,FDBB30,EFE600" id="pie">
    </div>
</div>
<div class="row">
    <div id="buttoncolumn" class="col-xs-12">
    <a id="contentbtn" class="btn btn-large btn-primary" href="#">Find out what they're saying</a>
    </div>
</div>


<div id="streamingsection" class="container">
  <div class="row">
      {% if issue == "NHS" %}
      <div class="col-xs-12 col-md-3">
        <p class="party"></p>
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=NHS%20from%3AUKLabour" data-widget-id="578979837307654145">Tweets about NHS from:UKLabour</a>
      </div>
      <div class="col-xs-12 col-md-3">
        <p class="party"></p>
        <a class="twitter-timeline" href="https://twitter.com/search?q=from%3AConservatives%20NHS" data-widget-id="580828586980020225">Tweets about from:Conservatives NHS</a>
      </div>
      <div class="col-xs-12 col-md-3">
        <p class="party"></p>
        <a class="twitter-timeline"  href="https://twitter.com/search?q=from%3ALibDems%20NHS" data-widget-id="582464118046720000">Tweets about from:LibDems NHS</a>
      </div>
      <div class="col-xs-12 col-md-3">
        <p class="party"></p>
        <a class="twitter-timeline" href="https://twitter.com/search?q=from%3AUKIP%20NHS" data-widget-id="580828880963035136">Tweets about from:UKIP NHS</a>
      </div>
      {% elif issue == "Tax" %}
      <div class="col-xs-12 col-md-3">
        <p class="party"></p>
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=from%3AUKLabour%20Tax" data-widget-id="580829860156870656">Tweets about from:UKLabour Tax</a>
      </div>
        <div class="col-xs-12 col-md-3">
        <p class="party"></p>
        <a class="twitter-timeline" href="https://twitter.com/search?q=From%3AConservatives%20Tax" data-widget-id="580828160352235520">Tweets about From:Conservatives Tax</a>
      </div>
      <div class="col-xs-12 col-md-3">
        <p class="party"></p>
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=from%3ALibDems%20Tax" data-widget-id="580828943323922433">Tweets about from:LibDems Tax</a>
      </div>
        <div class="col-xs-12 col-md-3">
        <p class="party"></p>
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=from%3AUKIP%20Tax" data-widget-id="580829241123708928">Tweets about from:UKIP Tax</a>
      </div>
      {% elif issue == "Education" %}
      <div class="col-xs-12 col-md-3">
        <p class="party"></p>
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=from%3AUKLabour%20Education" data-widget-id="580831136357679104">Tweets about from:UKLabour Education</a>
      </div>
        <div class="col-xs-12 col-md-3">
        <p class="party"></p>
        <a class="twitter-timeline" href="https://twitter.com/search?q=from%3AConservatives%20Education" data-widget-id="580832325405155328">Tweets about from:Conservatives Education</a>
      </div>
      <div class="col-xs-12 col-md-3">
        <p class="party"></p>
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=from%3ALibDems%20Education" data-widget-id="580830646408445952">Tweets about from:LibDems Education</a>
      </div>
        <div class="col-xs-12 col-md-3">
        <a class="twitter-timeline" href="https://twitter.com/search?q=from%3AUKIP%20Education" data-widget-id="580831740459114496">Tweets about from:UKIP Education</a>
      </div>
      {% endif %}
  </div>

<script>
 $("#streamingsection").hide();
 $("#contentbtn").on("click", function() {
  $("#streamingsection").toggle("fast");

 if ($("#streamingsection").is(':visible')) {
     $("html, body").animate({scrollTop: $("#streamingsection").offset().top});
  }
 });
</script>


<script>
$(document).ready(function(){       
   var scroll_start = 0;
   var startchange = $('#wholebar');
   var offset = startchange.offset();
   $(document).scroll(function() { 
      scroll_start = $(this).scrollTop();
      if(scroll_start > offset.top) {
          $('#wholebar').css('background-color', 'rgba(66,139,202,1)');
       } else {
          $('#wholebar').css('background-color', 'transparent');
       }
   });
});
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	</body>
</html>